.DS_Store
genetic_algorithm/ga_test.py
*.pyc
kernel_based_learning/svm_test.py
kernel_based_learning/svm_test2.py
*.ipynb_checkpoints
anomaly_detection/anomaly_test.py
*.csv
ensemble_learning/ensemble_test.py
ensemble_learning/ensemble_test2.py
*.xlsx
semi_supervised_learning/semi_scratch.py
semi_supervised_learning/data